!!! XML
%html
  %head
    %title= @title
    %link{:rel => 'stylesheet', :href => "#{app_root}/reset-3.1.1.css", :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => "#{app_root}/fonts-3.1.1.css", :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => "#{app_root}/main.css", :type => 'text/css'}
    :javascript
      var api = "#{app_root}/chat.json";
      var camera_url = "#{camera_url}";
      var robot_api = "#{app_root}/robot";
    %script{:type => 'text/javascript', :src => "#{app_root}/jquery.js"}
    %script{:type => 'text/javascript', :src => "#{app_root}/jquery.cookie.js"}
    %script{:type => 'text/javascript', :src => "#{app_root}/util.js"}
    %script{:type => 'text/javascript', :src => "#{app_root}/chat.js"}
  %body
    %div#content
      %div#head
        %h1= @title
        %form#chat
          名前
          %input{:type => 'text', :id => 'name', :size => 10, :value => 'おなまえ'}
          ：
          %input{:type => 'text', :id => 'message', :size => 50, :value => 'きゃべつ'}
          %input{:type => 'button', :id => 'post', :value => '送信'}
      %div#chat
      %div#robot
        %div#camera
          %img{:src => camera_url, :width => 240, :height => 320}
        %div#controller
          %div#top
            %span.button#go ↑
          %div#middle
            %span.button#left ←
            %span.button#right →
          %div#bottom
            %span.button#back ↓
